# Byte-compiled / optimized / DLL files
# C extensions
# Distribution / packaging
build/
dist/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# Installer logs
# Unit test / coverage reports
# Translations
# Django stuff:
# Flask stuff:
# Scrapy stuff:
# Sphinx documentation
# PyBuilder
# Jupyter Notebook
# pyenv
# celery beat schedule file
# SageMath parsed files
# dotenv
# virtualenv
# Spyder project settings
# Rope project settings
# mkdocs documentation
# mypy
.vscode
__pycache__
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyc
*.pyo
